@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary-color:#F9F5EB;
    --secondary-color:#E4DCCF ;
    --highlight-color:#EA5455;
    --tone-color:#002B5B;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap:5vw;
    margin-top:10vh;
    background-color: var(--primary-color);
}

section{
    width: 25vw;
    min-height: 300px ;
    background-color: var(--secondary-color);
    height: fit-content;
    border-radius: 20px ;
    border: 2px solid var(--tone-color);
}

section .title h1{
    /* margin: 0; */
    padding: 5px;
    color: var(--primary-color);
}

section .title {
    width: 100%;
    background-color: var(--highlight-color);
    text-align: center;
}

section .task{
    background-color: var(--tone-color);
    padding: 5px 10px;
    margin: 2vh 10px;
    border: 3px solid white;
    border-radius: 10px;
    min-height: 200px;
}

.draggable{
    padding: 1rem;
    cursor: move;
    color: var(--primary-color);
}

.dragging{
    opacity: 0.5;
}


